body {
    margin: 0;
    padding: 0px;
    font: 100%/150% "Calibri",sans-serif;
    background-color:gainsboro;
  }
  
  p {
    word-wrap: break-word;
    line-height: 2%;
  }
  
  /* ========= ========= ========= HEADER ========= ========= ========= */
  
  #header{
    margin: 0;
    top: 0%;
    left: 0%;
    padding-left: 0.1vw;
    padding-top: 0.5vh;
    text-align:left;
    vertical-align: top;
    background: rgb(46,82,136);
    background: linear-gradient(138deg, rgba(46,82,136,1) 0%, rgba(72,116,181,1) 47%, rgba(98,142,209,1) 74%, rgba(142,185,249,1) 100%);
    color: white;
    margin-bottom: 0.2rem;
    box-shadow: 0rem 0.2rem rgb(41, 73, 121);
  }
  
  #header h1 {
    padding-left: 0.5vw;
    font: 26px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  
  /* ========= ========= ========= TOP BAR NAVIGATION ========= ========= ========= */
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4378c7;
    color: white;
  }
  
  /* taken from we3 schools */
  /* Add a black background color to the top navigation */
  .topnav {
    padding-left: 1rem;
    overflow:auto;
    padding-bottom: 1rem;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.5vw;
    border: 0px solid black;
    margin-right: 0.2vw;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    color: white;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:  #ddd;
    color: black;
    box-shadow: -1px 1px black;
  }
  
  #navigation {
    padding-top:0%
  }
  
  /* ========= ========= ========= BUTTON ========= ========= ========= */
  /* Style the links inside the navigation bar */
  #button a {
    position: relative;
    width: auto;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 1rem;
    background-color: #467cce;
    border: 1px solid black;
    margin-right: 4px;
  }
  
  /* Change the color of links on hover */
  #button a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  #button a.active {
    background-color: #494949;
    color: white;
  }

  #janelaAcessos {
    top:90px;
    font-size:1rem;
    position:absolute;
    z-index: 9;
    background-color: #f1f1f1;
    opacity: 0.8;
    border: 1px solid #d3d3d3;
    text-align: center;
    /* width:auto */
    padding:1rem;
    border-radius: 1rem;
}
