<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <div id="header">
            <h1><strong><%= headername %></strong></h1>
            <div id="navigation">
                <div class="topnav">
                    <a href="./">Principal</a>
                    <a href="./painel">Painel de Usuário</a>
                    <a class="active" href="./contato">Contato</a>
                    <a href="./sobre">Sobre</a>
                </div>
            </div>
        </div>
        <div id="Janela" style="margin-left:30vw; position: relative; margin-top:1vh;
        top:auto; right: 10px; padding: 0.2%; width: 40vw;
        background-color: rgba(255, 255, 255, 0.877);
        border: 1px solid black; height:fit-content; display: black;">
            <h2 style="text-align: center;">Contatos</h2>
            <p style="line-height: 1em;">&nbsp;&nbsp;&nbsp;&nbsp;
                Fernando Bock</p>
            <p style="line-height: 1em;">&nbsp;&nbsp;&nbsp;&nbsp;
                E-mail: fernandobock1996@gmail.com</p>
            <p style="line-height: 1em;">&nbsp;&nbsp;&nbsp;&nbsp;
                Whatsapp: 98640-5228</p>    
        </div>
    </body>
</html>