<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <div id="header">
            <h1><strong><%= headername %></strong></h1>
            <div id="navigation">
                <div class="topnav">
                    <a href="./">Principal</a>
                    <a href="./painel">Painel de Usuário</a>
                    <a href="./contato">Contato</a>
                    <a class="active" href="./sobre">Sobre</a>
                </div>
            </div>
        </div>
        <div id="Janela" style="margin-left:30vw; position: relative; margin-top:1vh;
        top:auto; right: 10px; padding: 0.2%; width: 40vw;
        background-color: rgba(255, 255, 255, 0.877);
        border: 1px solid black; height:fit-content; display: black;">
            <h2 style="text-align: center;">Sobre o sistema Aqua</h2>
            <p style="line-height: 1em; margin-left:1vw; margin-right:1vw;">&nbsp;&nbsp;&nbsp;&nbsp;
                O sistema Aqua tem como intuito permitir a agregação de dados de qualidade de águas, assim como a pesquisa e visualização sobre estes dados.
                Este sistema foi desenvolvido pelo aluno de Ciências da Computação Fernando Bock, com orientação do Professor Sérgio Cechin.</p>
        </div>
    </body>
</html>